*{
    box-sizing: border-box;
    overflow: auto;
}
body{
    margin: 0;
    font-family: calibri;
    background: url('imagens/backgroundMenor.jpg');
    background-attachment: fixed;
    background-size: 100%;
    font-size: 16px;
}

.conteudo{
    margin: auto;
    width: 1000px;
}
.containerFluid{
    margin: 0;
    padding: 0;
}
.logo{
    width: 270px;
    padding: 10px;
}
.caixaLogo{
}
.sectionLogo{
    
}
.linhaPreta{
    height: 7px;
    background: darkslateblue;
    width: 1000px;
    margin: auto;
}
.linha{
    width: 1000px;
    margin: auto;
}

.brancoTransparente{
    background: rgba(255,255,255,0.7)
}

.rodape{
    text-align: center;
    background: black;
    color: white;
    font-size: 0.8em;
}
.rodape p{
    margin: 5px;
}
.rodape ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
hr{
    width: 40%;
}
.rodape ul li{
    display: inline;
}
.rodape ul li a{
    text-decoration: none;
    padding: 0 15px;
    color: white;
}
.rodape  ul li a:hover{
    color: yellow;
}
.icones{
    padding:0 10px 0 0;
}
.icones img{
    width: 20px;
    margin-top: 7px;
}
nav{
    padding: 0;
    margin: 0;
    text-align: left;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 15px;
    background: darkslateblue;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: white;
}
nav ul li a:hover{
    background: darkred;
    color: #yellow;
}
.apresentacao{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.slideShow{
    padding: 10px 0 0 0;
}
.caixaLateral{
    
}
.textoApresentacao{
    padding: 0 30px 0 20px;
    font-size: 1.2em;
}
.textoVideos{
    text-align: center;
}
.barraDoMeio{
    padding-bottom: 10px;
}
#texto2{
    text-align: center;
    margin: 0;
    padding: 0;
}
#texto2 h2{
    font-size: 1.3em;
    margin-bottom: 0;

}
#texto2 p{
    font-size: 1.1em;
    margin-top: 5px;
}
.imgVideos{
    border: 2px solid gainsboro;
    border-radius: 10px;
    box-shadow: 7px 7px 12px 0 rgba(0,0,0,0.75);
}
.txtVideos{
    border: 2px solid gainsboro;
    border-radius: 10px;
    box-shadow: 7px 7px 12px 0 rgba(0,0,0,0.75);
    background: white;
}
.txtConteudo{
    font-size: 1.2em;
}